% extends "layout.html" 
% block content
<section>
  <h1>{{data['page_title']}}</h1>
  <div class="row__block description__block">
    <p>
      {{ data['description'] }}
    </p>
  </div>
</section>
% endblock content